<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h3>Create Pokemon Trainer Account</h3>
    <div class="form-group">
        <label for="userName" class="control-label">Username</label>
        <input type="text" class="form-control" formControlName="userName" id="userName" name="userName"
            placeholder="Username" required [ngClass]="{'is-invalid' : invalidUserName()}">
        <p *ngIf="invalidUserName()" id="userName_error" class="text-danger">Invalid Username.</p>
    </div>
    <div class="form-group has-error">
        <label for="password" class="control-label">Password</label>
        <input type="text" class="form-control" formControlName="password" id="password" name="password"
            placeholder="Password" required [ngClass]="{'is-invalid' : invalidPassword()}">
        <p *ngIf="invalidPassword()" id="password" class="text-danger">Invalid Password.</p>
    </div>
    <div class="form-group has-error">
        <label for="confirmPassword" class="control-label">Confirm Password</label>
        <input type="text" class="form-control" formControlName="confirmPassword" id="confirmPassword"
            name="confirmPassword" placeholder="Confirm Password" required
            [ngClass]="{'is-invalid' : invalidConfirmPassword() || checkConfirmPassword()}">
        <p *ngIf="invalidConfirmPassword()" id="confirmPassword" class="text-danger">Invalid Confirm Password.</p>
        <p *ngIf="checkConfirmPassword()" id="confirmPassword" class="text-danger">Password must match.</p>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Create Account</button>
    </div>
    <div class="form-group">
        <a href="">Already have an account?</a>
    </div>
</form>