<a href="/pokedexs">Back</a>

<h1>Pokedex</h1>

<a href="/pokemons/{{id}}">Add Pokemon</a>

<ul>
    <li>
        <div class="pokemon-detail">
            <div class="image">
                <img src="https://images.pokemontcg.io/pop9/17.png" alt="Turtwig">
            </div>
            <div class="detail">
                <p> Type : <span>Pshychic</span></p>
                <p> HP : <span>110</span></p>
                <p> ATK : <span>50</span></p>
                <p> RES : <span>0</span></p>
            </div>
        </div>
    </li>
    <li>
        <div class="pokemon-detail">
            <div class="image">
                <img src="https://images.pokemontcg.io/pop9/17.png" alt="Turtwig">
            </div>
            <div class="detail">
                <p> Type : <span>Pshychic</span></p>
                <p> HP : <span>110</span></p>
                <p> ATK : <span>50</span></p>
                <p> RES : <span>0</span></p>
            </div>
        </div>
    </li>
    <li>
        <div class="pokemon-detail">
            <div class="image">
                <img src="https://images.pokemontcg.io/pop9/17.png" alt="Turtwig">
            </div>
            <div class="detail">
                <p> Type : <span>Pshychic</span></p>
                <p> HP : <span>110</span></p>
                <p> ATK : <span>50</span></p>
                <p> RES : <span>0</span></p>
            </div>
        </div>
    </li>
</ul>