.trainer-pokemon{
    display: flex;
    padding: 30px;
    background-color: gainsboro;
}

li{
    padding:10px;
}

.trainer-pokemon-detail{
    flex-grow: 5;
    padding-left: 20px;
}

.image{
    flex-grow : 1;
}