<a href="/pokedexs">Back</a>

<h1>Pokedex</h1>

<div *ngIf="userName === historyUserName"><a href="/pokemons/{{id}}">Add Pokemon</a></div>

<ul>
    <li *ngFor="let trainer of listTrainer">
        <div class="trainer-pokemon">
            <div class="image">
                <img src="{{trainer.result.imageUrl}}" alt="Turtwig">
            </div>
            <div class="trainer-pokemon-detail">
                <h1>{{trainer.result.name}}</h1>
                <p> Type : <span>{{trainer.result.type}}</span></p>
                <p> HP : <span>{{trainer.result.hp}}</span></p>
                <p> ATK : <span>{{trainer.result.attacks.length*50}} </span></p>
                <div *ngIf="trainer.result.resistances !== undefined ; else notShow">
                    <p> RES :
                        <span>{{trainer.result.resistances.length*20}}</span></p>
                </div>
                <ng-template #notShow>
                    <p> RES : <span>0</span></p>
                </ng-template>
            </div>
        </div>
    </li>
</ul>